<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ css_url }}">
</head>
<body>
<div class="wrapper">
<table>
  <tr>
    <th><img src="/static/icons/blank.png" alt="[ICO]" /></th>
    <th><a href="?C=N;O=D">Name</a></th>
    <th><a href="?C=M;O=A">Last modified</a></th>
    <th><a href="?C=S;O=A">Size</a></th>
  </tr>
  <tr>
    <td valign="top">
      <img src="/static/icons/folder.png" alt="[DIR]" />
    </td>
    <td>
      <a href="Community/">Community/</a>
    </td>
    <td align="right">25-Oct-2012 16:22  </td>
    <td align="right">  - </td>
  </tr>
</table>
