<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>ShowOff Repository</title>
    <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='style.css') }}"></link>
    <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='tooltipster.css') }}"></link>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.tooltipster.min.js') }}"></script>
  </head>
  <body>
  <div class="wrapper">
  <table>
    <tr>
      <th><img src="/static/icons/blank.png" alt="[ICO]" /></th>
      <th>ShowOff Presentation</th>
      <th>Actions</th>
    </tr>
    {% for dirname in showoff_directories %}
      <tr>
        <td valign="top">
          <img src="/static/icons/folder.png" alt="[DIR]" />
        </td>
        <td>
          {{ dirname }}
        </td>
        <td>
          <a href="/{{ dirname }}/index.html" target="_blank">
            <img src="/static/icons/source.png" title="Click to view presentation" class="tooltip"/>
          </a>
          <a href="/startshowoff/{{ dirname }}" target="_blank">
            <img src="/static/icons/video.png" title="Click to start live presentation" class="tooltip"/>
          </a>
          <a href="/stopshowoff" target="_blank">
            <img src="/static/icons/unknown.png" title="Click to stop live presentation" class="tooltip"/>
          </a>
        </td>
      </tr>
    {% endfor %}
  </table>
