<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>ShowOff Repository</title>
    <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='css/viewoff.css') }}"></link>
    <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='css/tooltipster.css') }}"></link>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.tooltipster.min.js') }}"></script>
  </head>
